body{
	font-family: sans-serif;
	color: #3c3939;
	background-color: #f1f1f1;
}
.profile-card{
	margin:auto;
	margin-top: 150px;
	width: 600px;
	background: #fff;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0,5);
}

.image-container{
	position: relative;
	margin-top: 10px;
}

.info{
	color: #4b4fe2;
	margin-right: 30px;
}

.main-container{
	margin-top: 35px;
	padding: 30px;
	margin-right: 200px;
	margin-left: 550px;
	background-color: #d4bcc7;
	height: 350px;
	line-height: 80px;
	font-size: 50%;
	font-family: -webkit-;
	box-shadow: 10px -10px 32px -6px rgba(0,0,0,0.67);
-webkit-box-shadow: 10px -10px 32px -6px rgba(0,0,0,0.67);
-moz-box-shadow: 10px -10px 32px -6px rgba(0,0,0,0.67);
}

.title{
	position: absolute;
	left: 15px;
	top: 300px;
}
h2 {
  color: 	#FFFFFF;
}